label{
    clear:both;
    float: left;
    padding-right: 5px;
    font-size: 19px;
}
.field {
    clear: both;
    text-align: right;
    line-height: 20px;
}
.main {
    float: left;
}
select{
    width: 173px;
}